.modal-card_backdrop {
  height: 100%;
  width: 100%;
  z-index: 5;
  opacity: 1;
  background-color: rgba(17, 17, 17, 0.4);
  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
}

.modal-card_backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: visible;
}

.modal-card {
  max-width: 335px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 24px;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  top: 28%;
  left: 50%;
  transform: translateX(-50%) scale(1);
  background-color: $header-bgc-light;
  border: 2px solid #111111;
  border-radius: 18px;

  @media screen and (min-width: $tablet) {
    top: 56%;
    transform: translate(-50%, -50%) scale(1);
    max-width: 579px;
    padding: 40px;
    display: block;
    max-height: 501px;
  }

  @media screen and (min-width: $desktop) {
    width: $tablet;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    max-width: 579px;
    padding: 40px;
  }
}

.modal-card-div {
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.icon-cross {
  @media screen and (min-width: $tablet) {
    width: 14px;
    height: 14px;
  }

  @media screen and (min-width: $desktop) {
    width: 17px;
    height: 17px;
  }
}

.modal-card_close {
  background-color: #0000;
  border: 0;
  justify-content: center;
  align-items: center;
  padding: 0;
  display: flex;
  position: absolute;
  top: 18px;
  right: 18px;

  @media screen and (min-width: $tablet) {
    top: 31px;
    right: 31px;
  }

  @media screen and (min-width: $desktop) {
    top: 18px;
    right: 18px;
  }
}

.modal-card_img {
  height: 408px;
  max-width: 287px;
  width: 100%;
  margin-bottom: 14px;
  border-radius: 8px;

  @media screen and (min-width: $tablet) {
    max-width: 192px;
    width: 100%;
    height: 281px;
    margin-bottom: 40px;
  }
}

.modal-card_title {
  font-family: $font-main;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.12;
  color: $header-bgc-dark;
  letter-spacing: 0.04em;
  margin-bottom: 4px;

  @media screen and (min-width: $tablet) {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 8px;
  }
}

.modal-card_author {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  font-style: italic;
  color: $secondary-text;
  font-family: $font-main;
  margin-bottom: 18px;

  @media screen and (min-width: $tablet) {
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    margin-bottom: 20px;
    color: $secondary-text;
  }
}

.modal-card_desq {
  font-family: $font-main;
  font-size: 14px;
  line-height: 1.29;
  color: $header-bgc-dark;
  max-width: 287px;
  width: 100%;
  margin-bottom: 16px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 20px;
  }
}

.modal-card-info {
  display: block;

  @media screen and (min-width: $tablet) {
    max-width: 279px;
    width: 100%;
    margin-left: 24px;
  }
}

.button-add-shopping-list {
  border: 2px solid #4f2ee8;
  border-radius: 40px;
  height: 46px;
  margin: auto;
  display: block;
  min-width: 211px;
  padding: 14px 23px;
  background-color: $header-bgc-light;
  cursor: pointer;

  @media screen and (min-width: $tablet) {
    min-width: 499px;
  }
}

.btn-modal-card {
  font-family: $font-main;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

.shopping-list-links {
  gap: 20px;
  display: flex;
  align-items: center;
  margin-top: 14px;
  margin-bottom: 40px;

  @media screen and (min-width: $tablet) {
    margin-top: 20px;
    margin-bottom: 0px;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 20px;
    margin-bottom: 0px;
  }
}
.shopping-list-links_icon {
  mix-blend-mode: luminosity;
}

.shopping-list-links_icon:hover,
.shopping-list-links_icon:focus {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
}

.shopping-list-message {
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;

  font-family: 'DM Sans';

  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;

  text-align: center;

  color: rgba(17, 17, 17, 0.5);

  @media screen and (min-width: $tablet) {
    width: 324px;
    letter-spacing: -0.04em;
    font-size: 12px;
    line-height: 1.1666;

    width: 324px;
  }
}
