<div class="backdrop-auth" id="modal-auth">
  <div class="modalAuth-content">
    <span class="close" id="close">
      <svg class="icon-close">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </span>

    <div class="tab-content" id="signin-content">
      <div class="input-content">
        <div class="input-wrapper">
          <input
            class="input-auth"
            type="email"
            id="email"
            placeholder="EMAIL"
            required
            autocomplete="email"
          />
          <span>
            <svg class="icon-auth email-signin">
              <use href="./images/sprite.svg#icon-mail"></use>
            </svg>
          </span>
        </div>

        <div class="input-wrapper">
          <input
            class="input-auth"
            type="password"
            id="password"
            placeholder="PASSWORD"
            required
          />
          <span>
            <svg class="icon-auth pass-signin">
              <use xlink:href="./images/sprite.svg#icon-lock"></use>
            </svg>
          </span>
        </div>
        <button class="signin-button" id="signin-button">SIGN IN</button>
      </div>
    </div>

    <div class="tab-content" id="signup-content">
      <div class="input-content">
        <input
          class="input-auth"
          type="text"
          id="name"
          placeholder="NAME"
          required
        />
        <div class="input-wrapper">
          <input
            class="input-auth"
            type="email"
            id="signup-email"
            placeholder="EMAIL"
            required
            autocomplete="email"
          />
          <span>
            <svg class="icon-auth">
              <use href="./images/sprite.svg#icon-mail"></use>
            </svg>
          </span>
        </div>
        <div class="input-wrapper">
          <input
            class="input-auth"
            type="password"
            id="signup-password"
            placeholder="PASSWORD"
            required
          />
          <span>
            <svg class="icon-auth">
              <use href="./images/sprite.svg#icon-lock"></use>
            </svg>
          </span>
        </div>
      </div>
      <button class="signup-button" id="signup-button">SIGN UP</button>
    </div>

    <div class="active-list">
      <span class="active-tab" id="signin-tab">Sign In</span>
      <span class="active-tab is-active" id="signup-tab">Sign Up</span>
    </div>
  </div>
</div>

<script src="/src/js/auth.js" type="module"></script>
