<section>
  <div class="home__page-container container">
    <aside class="sidebar-container">
      <div class="categories"></div>
      <div class="categories__support">
        <include src="./partials/support-ukraine.html"></include>
      </div>
    </aside>
    <div class="conteiner__books">
      <div class="conteiner__books-box">
        <include src="./partials/best-selling-books.html"></include>
        <div class="name__categore-box"></div>
        <div class="books"></div>
      </div>
      <button class="jumpUpBtn" id="jumpUpBtn" title="Go to top">
        <svg class="jumpup__icon" height="24" width="24">
          <use href="./images/sprite.svg#icon-angle-down"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
