<header class="header-conteiner">
  <div class="conteiner">
    <div class="header-wrap">
      <nav class="navigation">
         <svg width="24" height="24">
          <use href="/src/images/sprite.svg#icon-logo"></use>
         </svg>
        <a class="link logo-name" href="/src/index.html"
          >Bookshelf</a
        >
        <div class="menu-conteiner-account js-menu-conteiner-account">
          <ul class="nav-list list">
            <li class="nav-list__item"><a class="link link-active nav-home-page" id="homeButton" href="/src/index.html">HOME</a>
            </li>
            <li class="nav-list__item"><a class="link nav-shopping-page" id="shoppingListButton" href="/src/shopping-list.html">SHOPPING LIST <svg class="nav-shopping-page__icon"><use href="/src/images/sprite.svg#icon-uil_cart"></svg> <span id="shoppingNumbers"></span></a></li>
          </ul>
        </div>
      </nav>
      <label class="switch">
        <input class="js-color-switcher" type="checkbox" name="check" value="yes" />
        <span class="slider round"></span>
      </label>
      <div class="buttons-menu">
          <button class="burger open-menu-btn" id="js-open-menu-btn btn" type="button" aria-expanded="false"><span class="burger__row"></span><span></span></button>
              <!-- <svg class="burger__icon" width="28" height="28" aria-label="Перемикач мобільного меню">
                <use class="burger__link" href="/src/images/sprite.svg#icon-burger"></use>
              </svg> -->
            <button class="close-menu-btn btn hidden" id="js-close-menu" type="button" aria-expanded="false" aria-controls="menu-conteiner">
              <svg class="icon-close-menu__icon" width="28" height="20" aria-label="Перемикач мобільного меню">
                <use class="icon-close-menu__link" href="/src/images/sprite.svg#icon-close"></use>
              </svg>  
            </button>
      </div>
      <div >
          <ul class="munu-conteiner-call-to-registration">
            <li><button class="call-to-registration-btn" id="signUpAuth"><span>Sign up</span><svg class="call-to-registration-btn__icon" width="20" height="20">
            <use href="/src/images/sprite.svg#icon-arrow-right"></use>
            </svg></button></li>

            <li><button class="logged-in__btn" id="userInAuth"> <svg class="logged-in__icon" width="37" height="37">
            <use href="/src/images/sprite.svg#icon-user"></use>
            </svg><span id="userNameAuth"></span><svg width="23" height="26"><use href="/src/images/sprite.svg#icon-Vector"></use>
            </svg></button></li>

            <li><button class="log-out__btn" type="button" id="logOutAuth"><span>Log out</span><svg class="call-to-registration-btn__icon" width="20" height="20">
            <use href="/src/images/sprite.svg#icon-arrow-right"></use>
            </svg></button></li>
          </ul>              
       </div>
    </div>
  </div>
</div>
</header>

<div class="mobile-menu js-menu-container">
  <div class="mobile-menu__container">
    <img class="mobile-menu-books-imgBg" alt="imagesBg" src="/src/images/header/Group-imgs.png">
    <div class="mobile-menu-logged-conteiner">
      <button class="auth_button" type="button" id="signUpAuthMobile">
        <span>Sign up</span>
        <svg class="call-to-registration-btn__icon" width="20" height="20">
          <use href="/src/images/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>

      <button class="userInAuthMobile" id="userInAuthMobile">
        <svg class="userInAuthMobile__icon" width="37" height="37">
          <use href="/src/images/sprite.svg#icon-user"></use>
        </svg>
        <span id="userNameAuthMobile"></span>
      </button>

      <ul class="shoppingListButtonMobile-list list">
        <li class="homeButtonMobile" id="homeButtonMobile">
          <a class="homeButtonMobile__link" href="/src/index.html">HOME<svg class="homeButtonMobile__icon">
              <use class="homeButtonMobile__link" href="/src/images/sprite.svg#icon-internetarchive"></use>
            </svg></a>
        </li>
        <li class="shoppingListButtonMobile" id="shoppingListButtonMobile">
          <a class="shoppingListButtonMobile__link" href="/src/shopping-list.html">
            SHOPPING LIST<svg class="shoppingListButtonMobile__icon">
              <use class="shoppingListButtonMobile__link" href="/src/images/sprite.svg#icon-uil_cart"></use>
            </svg>
          </a>
        </li>
      </ul>

      <button class="logOutAuthMobile" type="button" id="logOutAuthMobile">
        <span>Log Out</span>
        <svg class="logOutAuthMobile__icon" width="20" height="20">
          <use href="/src/images/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
