.home__page-container {
  padding-top: 40px;
  padding-bottom: 80px;
  max-width: $mobile;

  @media screen and (min-width: $tablet) {
    max-width: $tablet;
    padding-bottom: 100px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    padding-top: 40px;
    width: 100%;

    max-width: $desktop;
  }
}

.sidebar {
  @media screen and (min-width: $tablet) {
    display: flex;
    gap: 32px;
  }

  @media screen and (min-width: $desktop) {
    display: block;
  }
}

.sidebar-container {
  width: 335px;
  height: 620px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* полоса прокрутки (скроллбар) */
  ::-webkit-scrollbar {
    width: 8px;
    height: 167px;
    background-color: #f6f6f6;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #e0e0e0;
    border-radius: 9em;
  }

  @media screen and (min-width: $tablet) {
    // padding: 0 32px;
    flex-direction: row;
    gap: 32px;
    height: 472px;
  }

  @media screen and (min-width: $desktop) {
    display: block;
    padding: 0;
    width: 356px;
    height: 100%;
  }
}

.categories {
  overflow-y: scroll;
  width: 335px;
  height: 228px;

  @media screen and (min-width: $tablet) {
    width: 337px;
    height: 472px;
  }

  @media screen and (min-width: $desktop) {
    width: 356px;
    height: 472px;

  }
}

.categories__support {
  padding-top: 40px;

  @media screen and (min-width: $tablet) {
    padding-top: 0;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 86px;
  }
}

.list_name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 24px;
  letter-spacing: -0.02em;
  color: $categories-text-light;
  cursor: pointer;
  transition: color 250ms, font-weight 250ms, text-transform 250ms;

  @media screen and (min-width: $tablet) {
    margin-bottom: 32px;
  }
}


.list_name:hover {
  font-weight: 700;
  color: $accent-text-light;
  text-transform: uppercase;
}

.list_name:focus {
  font-weight: 700;
  color: $accent-text-light;
  text-transform: uppercase;
}

.categories .list_name.selected {
  text-transform: uppercase;
  color: $accent-text-light;
  font-weight: 700;
}

.conteiner__books {
  width: 100%;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $tablet) {
    padding-top: 100px;
    padding-left: 0;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 0;
    padding-left: 33px;
  }
}

.conteiner__books-box {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  @media screen and (min-width: $tablet) {
    padding-top: 0;
  }

  @media screen and (min-width: $desktop) {
    align-items: start;
  }
}

.name__categore {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1875;
  letter-spacing: -0.04em;
  color: $primary-text-light;

  margin: 0;

  @media screen and (min-width: $tablet) {
    font-size: 48px;
    line-height: 1.08;
  }

  @media screen and (min-width: $desktop) {}
}

.books {
  padding-top: 40px;
}

.books-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 15px;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
  }
}

.book-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 14px;
  width: 335px;
  height: 571px;

  @media screen and (min-width: $tablet) {
    width: 218px;
    height: 366px;
  }

  @media screen and (min-width: $desktop) {
    width: 180px;
    height: 306px;

    // scroll-snap-type: y proximity;
  }
}

.book-card__img-box {
  width: 100%;
  height: 485px;
  border-radius: 8px;
  position: relative;
    overflow: hidden;


  @media screen and (min-width: $tablet) {
    height: 316px;
  }
}
.all-book-popup {
  width: 100%;
    height: 70px;
    color: #111;
    text-transform: uppercase;
    background-color: #eac645;
    transition: transform 250ms cubic-bezier(.4, 0, .2, 1);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(71px);
    pointer-events: none;
}
.book-card__img-box:hover .all-book-popup {
  opacity: 1;
  visibility: visible;
  transform: translateY(0%);
}
.book-card__img-box--main-page:hover .all-book-popup {
  opacity: 1;
  visibility: visible;
  transform: translateY(0%);
}
.book-card__img-box--main-page{
  position: relative;
    overflow: hidden;
}

.book-card__img {
  width: 100%;
  height: 485px;
  object-fit: cover;
  border-radius: 8px;
  display: block;

  @media screen and (min-width: $tablet) {
    height: 316px;
  }

  @media screen and (min-width: $desktop) {
    height: 256px;
  }
}

.info {
  font-size: 14px;
  min-width: 100%;
  height: 50px;
  // border: 1px solid #eeeeee; Віталій закоментував не бачив на макеті цього бордеру,заважає
  border-top: none;
}

.info-title__item {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -0.04em;

  color: $primary-text-light;
}

.info-author__item {
  font-style: italic;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;

  color: $secondary-text;
}
