// ---стиль темної теми для боді
.dark body {
  background-color: $primary-bgc-dark;
  color: $header-bgc-light;
}
//----темний стиль для хедер
.dark .link {
  color: $primary-text-dark;
}
.dark .link-active {
  color: $primary-text-light;
}
.dark .header-conteiner {
  background-color: $header-bgc-dark;
  border: 1.5px solid $primary-text-dark;
}
.dark .burger::after,
.dark .burger::before,
.dark .burger span,
.dark .burger span:last-child {
  background-color: #fff;
}
.dark .icon-close-menu__link {
  fill: #fff;
}

// ---темний стиль для категорій книг
.dark .sidebar-container {
  ::-webkit-scrollbar {
    background-color: $primary-bgc-dark;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $categories-text-light;
  }
}

.dark .name__categore {
  color: $primary-text-dark;
}

.dark .list_name {
  color: $categories-text-dark;
  &:hover,
  &:focus {
    color: $accent-text-dark;
  }
}

.dark .info-title__item {
  color: $primary-text-dark;
}

.dark .categories .list_name.selected {
  color: $accent-text-dark;
}

.dark .info-title__item--main-page {
  color: $primary-text-dark;
}

.dark .books-category-btn {
  color: $primary-text-dark;
}

// ----стилі темної теми для модального вікна
.dark .modal-card {
  background-color: $primary-bgc-dark;
  border: 2px solid $primary-text-dark;
}

.dark .modal-card_close .icon-cross {
  fill: #fff;
}

.dark .modal-card_title {
  color: $primary-text-dark;
}

.dark .modal-card_desq {
  color: $primary-text-dark;
}

.dark .button-add-shopping-list {
  border: 2px solid #4f2ee8;
  background-color: $primary-bgc-dark;
  color: #fff;
}
.dark .amazon-icon {
  filter: invert(100%) hue-rotate(1deg) brightness(1000%) contrast(95%);
}
.dark .shopping-list-links_icon:hover,
.dark .shopping-list-links_icon:focus {
  filter: drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.15));
}

// ---стилі темної теми на сторінку авторизації
.dark .modalAuth-content {
  background-color: $primary-bgc-dark;
  border: 2px solid $header-bgc-light;
  color: $primary-text-dark;
}

.dark .icon-close {
  fill: $primary-text-dark;
}

.dark .input-auth {
  border: 2px solid $primary-text-dark;
  color: $primary-text-dark;
}

.dark .input-auth::placeholder {
  color: $primary-text-dark;
}
.dark .icon-auth {
  fill: $primary-text-dark;
}

.dark .signin-button,
.dark .signup-button {
  background-color: $primary-text-dark;
  color: $header-bgc-dark;
}
.dark .active-tab.is-active {
  color: $accent-text-light;
}
.dark .active-tab {
  color: $categories-text-dark;
}

// --стилі темної теми для шопінг ліст
.dark .shopping-list__title {
  color: $primary-text-dark;
}

.dark .empty-list {
  &__paragraph {
    color: $message-absent-text-dark;
  }
}

.dark .card-shopping {
  &__container {
    background: $header-bgc-dark;
  }

  &__title {
    color: $primary-text-dark;
  }
  &__description {
    color: $primary-text-dark;
  }
  &__deleteBtn {
    background-color: $header-bgc-dark;
  }
}
.dark .shopping-list-message {
  color: $categories-text-dark;
}
.dark .card-shopping__listItem:hover,
.dark .card-shopping__listItem:focus {
  filter: drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.15));
}
