.jumpUpBtn {
  width: 54px;
  height: 54px;
  display: none;
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: $button-bgc;
  color: white; /* Text color */
  cursor: pointer;

  border-radius: 100%;
  border: 5px solid #cac0f8;
  justify-content: center;
  align-items: center;
}

.jumpUpBtn:hover,
.jumpUpBtn:focus {
  border: 5px solid #f9eec7;
}

.jumpup__icon {
  transform: rotate(180deg);
  fill: #fff;
}
